<!DOCTYPE html>
<html lang="en">

<head>
  {% include head.html %}
</head>

<body style="background-image: url('assets/img/nighttime-street.jpg')">
  <nav class="nav">
    <div class="nav-container">
      <a href="{{ site.baseurl }}/">
        <h2 class="nav-title">{{ site.title }}</h2>
      </a>
      <a href="{{ '/' | prepend: site.baseurl }}">About</a>
      <a href="{{ '/resume.pdf' | prepend: site.baseurl }}" target="_blank">Resume</a>
      <a href="{{ '/' | prepend: site.baseurl }}">About</a>
    </div>
  </nav>

  <main>
    {{ content }}
  </main>

  <footer>
    <span>
      &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}. <a
        href="https://github.com/kssim/about-portfolio/">A.P</a> theme by kssim.
    </span>
  </footer>
</body>

</html>
